*.dll filter=lfs diff=lfs merge=lfs -text
*.pdiparams filter=lfs diff=lfs merge=lfs -text
ocr_subtitle/backend/subfinder/*.dll filter=lfs diff=lfs merge=lfs -text
ocr_subtitle/backend/models/* filter=lfs diff=lfs merge=lfs -text
